<div class="container">
  <form #signInform="ngForm" class="form" (ngSubmit)="signIn()">
    <img class="logo" src="/assets/images/logo.png" alt="Company Logo" />
    <div class="sign-in">Sign In</div>
    <div class="sub-text">to acquire awesome bots</div>
    
    <div class="form-group">
      <input
        name="email" required email #email="ngModel" [(ngModel)]="credentials.email"
        placeholder="Email Address"
        type="email"
        [class.error]="email.invalid && email.touched"
      />
      <em class="error" *ngIf="email.errors?.['required'] && email.touched">
        Email is required
      </em>
      <em class="error" *ngIf="email.errors?.['email'] && email.touched">
        Please enter a valid email address
      </em>
    </div>
    
    <div class="form-group">
      <input
        name="password" required #password="ngModel" [(ngModel)]="credentials.password"
        placeholder="Password"
        type="password"
        [class.error]="password.invalid && password.touched"
      />
      <em class="error" *ngIf="password.invalid && password.touched">
        Password is required
      </em>
    </div>
    
    <div class="buttons">
      <button type="submit" [disabled]="signInform.invalid" class="button cta">
        Sign In
      </button>
    </div>
    
    <div class="signInError" *ngIf="signInError">
      Sign-in failed. Please check your credentials and try again.
    </div>
  </form>
</div>