a {
  font-weight: bold;
}


.container {
  display: flex;
  flex-direction: column;
}

.filters {
  display: flex;
  justify-content: space-between;
  padding: 25px 200px;
  border-bottom: 2px solid #000000;
}

.filters button {
  width: 100px;
}

.products {
  margin: 0 100px;
  list-style: none;
  padding: 0;
}

.product-item {
  position: relative;
  margin-bottom: 20px;
  padding-bottom: 20px;
}

.product-item:not(:last-child)::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 2px;
  background-color: #000000;
}


